{{- if .Param "math" }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css"
    integrity="sha384-nB0miv6/jRmo5UMMR1f3o3kWBnUzU4R9iNPnUHsHX1HqH6N5F9X5i6f0n8hJ6qF"
    crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js"
    integrity="sha384-7zkQWkzuo3B3k2T4uQD5NlNQbH8RI3gS2X3M7uO0P0g5YFEJ5q5J0J0ZqG1Z0Q"
    crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js"
    integrity="sha384-43gviWU0YVjeDZ3g1fQjFf7f0zU6C0e2eQJWQP3Cz7a6F4IqGWVWxGz2oI"
    crossorigin="anonymous"
    onload="renderMathInElement(document.body, {delimiters:[
        {left:'$$', right:'$$', display:true},
        {left:'$', right:'$', display:false},
        {left:'\\[', right:'\\]', display:true},
        {left:'\\(', right:'\\)', display:false}
    ]});"></script>
{{- end }}
